# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.env
.venv
.venv3/
env/
venv/
venv3/
.python-version
.DS_Store
.vscode

# Jupyter Notebook
.ipynb_checkpoints

# W&B
wandb/

# Models & Results
models/*
results/*
